.index-background{
            background: linear-gradient(to bottom right, #95fff7, #a7ff00);

}

.contact-background{
            background: linear-gradient(to bottom right, #95fff7, #a7ff00);

}

.jumbotron p, .jumbotron p a, .jumbotron p a:hover {
    color: #42bfa2;
    text-decoration: none;
    font-weight: 400;
}

.fit{
    height: 350px;
    position: relative;
}
